<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 表单输入绑定 - 拓胜教程(toceansoft.com)</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

        <select v-model="selected2" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected2 }}</span>

        <br>
        <select v-model="selected3">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected3 }}</span>

        <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
        <span>Selected: {{ toggle }}</span>

        <!-- 在“change”时而非“input”时更新 -->
        <input v-model.lazy="msg">
        <span>Selected: {{ msg }}</span>

        <input v-model.number="age" type="number">
        <span>age: {{ age }}</span>
    </div>
    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                message: 'Vue.js',
                checked: false,
                checkedNames: [],
                picked: '',
                selected: '',
                selected2: '',
                selected3: 'A',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ],
                toggle: '',
                msg: '',
                age:1
            }

        })
    </script>
</body>

</html>